.message
  .message__info
    .message__info--name
      taketani
    .message__info--date
      2016/2/10
  .message__body
    今日は頑張りましょう！！！！今日は頑張りましょう！！！！今日は頑張りましょう！！！！今日は頑張りましょう！！！！今日は頑張りましょう！！！！今日は頑張りましょう！！！！今日は頑張りましょう！！！！
