*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

.alert{
  color: $fontWhite;
  text-align: center;
}

.alert-info{
  background-color: $skyBlue;
}

.alert-danger{
  background-color: #F35500;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
