#sub
  .user
    .user__name
      taketani
    .user__action
      .user__action--left
        = link_to root_path do
          .fa.fa-pencil-square-o
      .user__action--right
        = link_to root_path do
          .fa.fa-cog
  .groups
    .group
      .group__name
        groupname
      .group__message
        今日も晴天ですね〜〜〜。
