#sub
  .user
    .user__name
      = current_user.name
    .user__action
      .user__action--left
        = link_to edit_user_registration_path do
          .fa.fa-pencil-square-o
      .user__action--right
        = link_to new_group_path do
          .fa.fa-cog
  .groups
    .group
      .group__name
        groupname
      .group__message
        今日も晴天ですね〜〜〜。
